.countries {
	display: grid;
	grid-template-columns: 21% 21% 21% 21%;
	align-items: center;
	justify-content: space-between;
	row-gap: 4rem;

	@media (max-width: 1024px) {
		grid-template-columns: 40% 40%;
		align-items: center;
		justify-content: space-between;
	}

	@media (max-width: 767px) {
		grid-template-columns: 100%;
	}
}
