.countries {
	display: grid;
	grid-template-columns: 20% 20% 20% 20%;
	align-items: center;
	justify-content: center;
	column-gap: 6.7%;
	row-gap: 5rem;

	@media (max-width: 1300px) {
		grid-template-columns: 23% 23% 23% 23%;
		column-gap: 3%;
	}

	@media (max-width: 1024px) {
		grid-template-columns: 40% 40%;
		align-items: center;
		justify-content: space-between;
	}

	@media (max-width: 767px) {
		grid-template-columns: 100%;
	}
}
