.main {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 2rem 7.5rem;
	background-color: var(--Very-light-gray);
	padding-top: 8rem;

	@media (max-width: 767px) {
		padding: 1.5rem 5rem;
		padding-top: 8rem;
	}

	@media (max-width: 580px) {
		padding: 1.5rem;
		padding-top: 7rem;
	}
}

.mainDark {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 2rem 7.5rem;
	background-color: var(--Very-dark-blue);
	padding-top: 8rem;

	@media (max-width: 767px) {
		padding: 1.5rem 5rem;
		padding-top: 8rem;
	}

	@media (max-width: 580px) {
		padding: 1.5rem;
		padding-top: 7rem;
	}
}
