.form {
	max-width: 100%;
	width: 29rem;
	height: 4rem;
	display: flex;
	flex-direction: column;
	gap: 5px;

	@media (max-width: 1024px) {
		width: 50%;
	}

	@media (max-width: 767px) {
		width: 100%;
	}
}

.show {
	margin-left: 1rem;
	color: red;
	font-weight: 600;
}

.hidden {
	display: none;
}
