.countryItem {
	border-radius: 5px;
	cursor: pointer;
	background-color: var(--White);
	border: solid 1px transparent;
	box-shadow: 0 0 1px var(--Dark-gray);
	text-decoration: none;
	color: var(--Very-dark-blue-text);
}

.countryItemDark {
	border-radius: 5px;
	cursor: pointer;
	background-color: var(--Dark-blue);
	border: solid 1px transparent;
	box-shadow: 0 0 1px var(--Very-dark-blue-text);
	text-decoration: none;
	color: var(--White);
}

.countryItem a {
	text-decoration: none;
	color: var(--Very-dark-blue-text);
}

.countryItemDark a {
	text-decoration: none;
	color: var(--White);
}
