.flags {
	max-width: 100%;
	width: 100%;
	height: 50%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: solid 1px transparent;
	box-shadow: 0 0 1px var(--Dark-gray);

	@media (max-width: 767px) {
		height: 13.5rem;
	}
}

.flagsDark {
	max-width: 100%;
	width: 100%;
	height: 50%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: solid 1px transparent;
	box-shadow: 0 0 1px var(--Very-dark-blue-text);
	@media (max-width: 767px) {
		height: 13.5rem;
	}
}
