.listContainer {
	padding: 1.5rem 1rem;
}

.listContainer h1 {
	font-size: 1.2rem;
	margin-bottom: 1rem;
	font-weight: 800;
}

.listContainer p {
	font-size: 14px;
	display: flex;
	gap: 4px;
}

.heading {
	font-weight: 800;
}
.description {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.description:hover {
	overflow: visible;
}
.itemDescription {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
